.navbarColumn {
    display: flex;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    width: 100%;
    height:100%;
    padding: 50px 40px;
    
    top: 0;bottom: 0;left: 0;right: 0;
    animation: hamburgerAnimation 0.4s;
    background: linear-gradient(rgba(255, 255))
  }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  color: rgb(122, 132, 132);
  top: 2rem;
  display:none;
  right: 5%;
  list-style-type: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:  rgb(85, 91, 91);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:  rgb(129, 151, 151);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2rem ;
  width: 2rem ;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width:900px){
  .bm-burger-button { display: block;}
}
.skills-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  color: rgb(127, 136, 136);
  cursor:pointer;
}
.hamburger-list li {
  list-style-type: none;
  margin: 1.5rem
}
.skills-btn:hover {
  color: rgb(212, 228, 228);
}
