.navbar {
    width: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    z-index: 1;
    position:sticky;
    top:0
  }
  .navbar ul {
    display: flex;
    
    align-items: center;
  }
  .navbar ul li{
    list-style: none;
    
  }
  .navbar ul li{
    display:flex
  }
  .navbar ul li button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }


  .navbar ul li a {
  padding:10px 15px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(13, 43, 13);
  text-decoration: none;
  }
  .navbar ul li a:hover {
    background-color: rgb(129, 151, 151);
    color: #fff;
  }

@media (max-width:900px) {
  html {
    font-size: 15px;
  }
    .hamburger-menu {
      display:flex;
    }
    .navbar ul{
      display: none;
  
    }
    .navbar ul {
      flex-direction: column;
      row-gap:30px
    }
    .navbar.open ul{
      display: flex!important;
      position: fixed;
      overflow-y: auto;
      flex-direction: column;
      width: 100%;
      height:100%;
      padding: 50px 40px;
      z-index: 50;
      top: 0;bottom: 0;left: 0;right: 0;
      animation: hamburgerAnimation 0.4s;
      background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8));
    }
    .contacts-btn-block {
      display:flex !important;
    }
  }
  @keyframes hamburgerAnimation {
    from {opacity: 0;}
    to {opacity:1}
  }
  .contacts-btn-block {
    display:none
  }
